body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 247, 247);
}

/* TOP NAV */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul > li {
  max-height: 15px;
  width: 150px;
}

nav ul > li:hover {
  background-color: aquamarine;
}

nav ul > li > a {
  color: rgb(21, 21, 21);
  text-decoration: none;
  font-size: 25px;
}

/* SLIDES */
.slides {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 80vw;
  margin: 0 auto;
  margin-top: 5vh;
}

.slides, nav ul {
  padding: 0;
}

.slides li {
  width: 100%;
  min-height: 100px;
  color: rgb(21, 21, 21);
  font-size: 25px;
  display: none;
}

.slides li p {
  display: flex;
  align-items: center;
}

/* The :target CSS pseudo-class represents a unique element 
(the target element) with an id matching the URL's fragment. */
.slides li:target {
  display: flex;
  justify-content: center;
}

#slide1 {
  background-color: rgb(183, 223, 216);
}

#slide2 {
  background-color: rgb(146, 135, 187);
}

#slide3 {
  background-color: rgb(233, 197, 135);
}
